body {
    text-align: center;
}

h1 {
    font-weight: 400;
}

.input {
    margin-bottom: 10px;
}

section {
    margin: 0 auto;
}

#errors {
    list-style: none;
}

.large-cards {
    padding-top: 15px;
}

.small-cards {
    padding-bottom: 15px;
}

#song-choices {
    text-align:left;
}